<ion-view view-title="BuddyDoe">
  <ion-content on-swipe-right="goBack()" on-swipe-left="goForward()">
    <div class="content has-header">
      <div class="list animate-fade-slide-in-right">
        <a href="#/app/profile" class="item item-avatar item-icon-right">
          <span class="avatar mess" style="background-image: url('img/profile/femme-brune.png');"></span>
          <h2>Agathe</h2>
          <p>C'était une super soirée, j'espère qu'on restera en contact</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a href="#/app/profile" class="item item-avatar item-icon-right">
          <span class="avatar mess" style="background-image: url('img/profile/john.png');"></span>
          <h2>John</h2>
          <p>Match Losc contre OM ca te branche ?</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a href="#/app/profile" class="item item-avatar item-icon-right">
          <span class="avatar mess" style="background-image: url('img/profile/max.png');"></span>
          <h2>Max</h2>
          <p>Je ne te raconte pas la journée de dingue que je viens de passer</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a href="#/app/profile" class="item item-avatar item-icon-right">
          <span class="avatar mess" style="background-image: url('img/profile/melissa.png');"></span>
          <h2>Melissa</h2>
          <p>ne m'<strike>oublie</strike> pas, on se recontacte</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a href="#/app/profile" class="item item-avatar item-icon-right">
          <span class="avatar mess" style="background-image: url('img/profile/shina.png');"></span>
          <h2>Shina</h2>
          <p>Un bowling ce soir ?</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
