<ion-view view-title="BuddyDoe">
 <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in" on-swipe-right="goBack()" on-swipe-left="goForward()">
        <div class="list half">
            <div ui-sref="tab.profileBuddy({idprofile: '0'})" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <img class="full-image" src="img/profile/ben.png">
                    <div class="txt-profil-buddy">
                    <span>Ben</span> <span class="age">27</span>,<br/>
						Director (busin...
                    </div>

                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg stable">
                        <i class="icon ion-ribbon-b"></i>
                        4
                    </a>
                    <a class="tab-item stable-bg stable">
                        <i class="icon ion-chatbubbles"></i>
                        2
                    </a>
                </div>
            </div>
            <div ui-sref="tab.profileBuddy({idprofile: '1'})" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <img class="full-image" src="img/profile/femme-brune.png">
                    <div class="txt-profil-buddy">
                    <span>Agathe</span> <span class="age">26</span>,<br/>
						Le soleil bleu
                    </div>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg energized">
                        <i class="icon ion-ribbon-b"></i>
                        6
                    </a>
                    <a class="tab-item stable-bg stable">
                        <i class="icon ion-chatbubbles"></i>
                        1
                    </a>
                </div>
            </div>
            <div ui-sref="tab.profileBuddy({idprofile: '2'})" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <img class="full-image" src="img/profile/fred.png">
                    <div class="txt-profil-buddy">
                    <span>Fred</span> <span class="age">32</span><br/>
                    </div>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg stable">
                        <i class="icon ion-ribbon-b"></i>
                        6
                    </a>
                    <a class="tab-item stable-bg stable">
                        <i class="icon ion-chatbubbles"></i>
                        1
                    </a>
                </div>
            </div>
            <div ui-sref="tab.profileBuddy({idprofile: '3'})" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <img class="full-image" src="img/profile/jean.png">
                    <div class="txt-profil-buddy">
                    <span>Jean</span> <span class="age">24</span>,<br/>
						Etudiant en inform...
                    </div>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg stable">
                        <i class="icon ion-ribbon-b"></i>
                        6
                    </a>
                    <a class="tab-item stable-bg stable">
                        <i class="icon ion-chatbubbles"></i>
                        1
                    </a>
                </div>
            </div>
        </div>
        <div class="list half">
            <div ui-sref="tab.profileBuddy({idprofile: '4'})" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <img class="full-image" src="img/profile/john.png">
                    <div class="txt-profil-buddy">
                    <span>John</span> <span class="age">34</span>,<br/>
						Chargé de com...
                    </div>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg energized">
                        <i class="icon ion-ribbon-b"></i>
                        22
                    </a>
                    <a class="tab-item stable-bg stable">
                        <i class="icon ion-chatbubbles"></i>
                        9
                    </a>
                </div>
            </div>
            <div ui-sref="tab.profileBuddy({idprofile: '5'})" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <img class="full-image" src="img/profile/max.png">
                    <div class="txt-profil-buddy">
                    <span>Max</span> <span class="age">27</span><br/>
                    </div>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg stable">
                        <i class="icon ion-ribbon-b"></i>
                        8
                    </a>
                    <a class="tab-item stable-bg stable">
                        <i class="icon ion-chatbubbles"></i>
                        0
                    </a>
                </div>
            </div>
            <div ui-sref="tab.profileBuddy({idprofile: '6'})" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <img class="full-image" src="img/profile/melindra.png">
                    <div class="txt-profil-buddy">
                    <span>Melindra</span> <span class="age">29</span>,<br/>
						Adjointe de point ...
                    </div>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg stable">
                        <i class="icon ion-ribbon-b"></i>
                        8
                    </a>
                    <a class="tab-item stable-bg stable">
                        <i class="icon ion-chatbubbles"></i>
                        0
                    </a>
                </div>
            </div>
            <div ui-sref="tab.profileBuddy({idprofile: '7'})" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <img class="full-image" src="img/profile/melissa.png">
                    <div class="txt-profil-buddy">
                    <span>Melissa</span> <span class="age">22</span><br/>
                    </div>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg stable">
                        <i class="icon ion-ribbon-b"></i>
                        8
                    </a>
                    <a class="tab-item stable-bg stable">
                        <i class="icon ion-chatbubbles"></i>
                        0
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
